* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  --box-width: 3rem;
  --box-color: orange;
}

/* Browser rendering engines */
/* WebKit, --webkit developed by Apple (safari, ios, BlackBerry, Amazon Kindle, some times also chrome 🤨) */
/* Gecko, --ms (Firefox)*/
/* Blink, developed by Google (Chrome, Edge, Opera, and more */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/appearance#Browser_compatibility */

body {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.box {
  width: var(--box-width);
  height: 2rem;
  font-size: 2rem;
  color: var(--box-color);
  position: absolute;
  animation-name: move-down;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: reverse;
  animation-play-state: running;
  animation-fill-mode: forwards;

  /* animation: name duration timing-function delay iteration-count direction
    fill-mode; */
}

@keyframes move-down {
  from {
    top: 0;
    background-color: lawngreen;
  }
  to {
    top: 300px;
    background-color: lightcoral;
  }
}

.size-change {
  width: var(--box-width);
  height: 2rem;
  border: 2px red solid;
  position: relative;
  animation-name: re-size;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes re-size {
  0% {
    width: calc(var(--box-width) * 1.5);
    background-color: mediumpurple;
  }
  25% {
    width: calc(var(--box-width) * 2);
    background-color: mediumpurple;
  }
  50% {
    width: calc(var(--box-width) * 2.5);
    background-color: mediumslateblue;
  }
  75% {
    width: calc(var(--box-width) * 3);
    background-color: midnightblue;
  }
  100% {
    width: calc(var(--box-width) * 3.5);
    background-color: navy;
  }
}

.box-up {
  width: var(--box-width);
  height: 2rem;
  border: 2px red solid;
  position: relative;
  animation-name: up;
  animation-duration: 03s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes up {
  from {
    right: 400px;
  }
  to {
    right: 0;
  }
}

.x-menu {
  background-color: lightgray;
  width: 4rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
}
.line {
  width: 3rem;
  height: 0.3rem;
  background-color: gray;
  border-radius: 25%;
}

.x-menu:hover .first {
  transform: rotate(0.15turn);
  position: absolute;
}
.x-menu:hover .sec {
  display: none;
}
.x-menu:hover .thr {
  transform: rotate(-0.15turn);
  background-color: orange;
}
