:root {
  /*root setup*/
}

body {
  background-color: orange;
  background-image: url("./tulips.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  /* Soon will talk about this  */
  font-size: larger;
  font-style: normal;
  font-weight: bold;
  border-top: black 2px solid;
  border-bottom: none;
  border-top: orange 4px solid;
  border-style: dashed solid none solid;
  border: 2px dashed #333333;
}

li a {
  color: silver;
  font-size: medium;
}

/* nav ul {
  background-color: rgba(104, 130, 113, 0.618);
} */

#job {
  color: steelblue;
}

/* #home {
  color: violet;
} */

h1,
h2,
strong {
  color: rgba(104, 130, 113, 0.618);
}

h1,
h2 {
  color: blue;
  font-family: Helvetica;
  font-weight: normal;
  font-weight: bold;
  padding: 40px;
}
h1 {
  font-size: 24px;
  /* Never do this in your life */
  /**/
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 200px;
}

h2 {
  font-size: 18px;
}

section {
  /* very good one*/
  /* view width*/
  width: 50vw;
  /* view height*/
  height: 50vh;
}
article {
  width: 80%;
  height: 50%;
  font-size: 1rem;
}
#main-text {
  color: teal;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-align: center;
  text-transform: capitalize;
  text-indent: 2vw;
  text-decoration: none;
  font-family: "Dancing Script", cursive, Verdana, sans-serif;
  /*16px *2 = 32px*/
  font-size: 2rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  background-color: navajowhite;
}
a:visited,
a:link {
  color: orange;
}
nav ul li {
  list-style: none;
  display: inline-block;
}
nav ul li a:hover {
  background-color: gray;
  color: orangered;
}
form {
  position: absolute;
  top: 4rem;
  right: 0;
}
.img {
  width: 10rem;
  height: 8rem;
  /* float: left; */
}
article {
  display: clear;
}
