* {
  box-sizing: border-box;
}
body {
  background-image: url(./bg.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.mini {
  position: absolute;
  font-size: 2rem;
  z-index: 1;
}
.final {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
  top: 53%;
  right: 1%;
  width: 55px;
  height: 55px;
  background-color: white;
}
