/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  background-color: black;
  color: white;
}
main {
  font-family: "Itim", cursive;
}
footer {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-size: smaller;
} */
.done {
  position: relative;
  /* border: 2px dashed red; */
  /* diplay:none; */
  padding: 1rem;
  border-radius: 10px;
  background-color: lime;
  width: 30%;
}
.close {
  position: absolute;
  right: 3px;
  transition: 0.5s;
  cursor: pointer;
  color: white;
}
