// your scss files should import here 💪🏻

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  background-color: orange;
  width: 75vw;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
nav li {
  list-style: none;
  color: white;
  &:hover {
    background-color: gray;
    color: orange;
  }
}
.product {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 80vw;
  // height: 30vh;
}
.product li {
  list-style: none;
  border: 1.5px solid orange;
  text-align: center;
  padding: 5px;
  margin: 5px;
  width: 5rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: darkslategrey;
  &:visited {
    color: darkslategrey;
  }
  &:hover {
    color: lightslategray;
  }
}
button {
  background-color: lightblue;
  border-radius: 5%;
  border: none;
}
h5 {
  color: lightseagreen;
}
i {
  font-size: 2rem;
}
.test {
  background-color: orangered;
}
