<h1>{{title}}</h1>
{{#if errors}}
  <div>
    <ul>
      {{#each errors}}
        {{! errors.map(err => err aka this)}}
        <li>{{this.msg}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}
<form method="POST" action="/submit">

</form>