* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
}
h1 {
  color: rgb(49, 16, 16);
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem;
}
h2 {
  color: rgb(184, 55, 55);
  font-size: 1.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
}
::slotted([slot="slot1"]) {
  color: rgb(255, 230, 0);
}

slot[name="slot1"] {
  text-decoration: underline;
}

slot[name="slot1"] + .siblingA {
  color: rgb(150, 33, 33);
}

slot[name="slot1"] ~ .siblingB {
  color: orange;
}

slot[name="slot1"] + .siblingC {
  color: blue;
}
