@font-face {
  font-family: "Akaya Telivigala";
  src: url("../fonts/Akaya_Telivigala/AkayaTelivigala-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Akaya Telivigala", Arial, sans-serif;
  background-image: url(../img/tree.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  color: rgb(49, 16, 16);
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem;
}
h2 {
  color: rgb(184, 55, 55);
  font-size: 1.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
}
::slotted(p) {
  font-weight: bold;
  color: red;
}

slot[name="slot1"] {
  text-decoration: underline;
}

slot[name="slot1"] + .siblingA {
  color: whitesmoke;
}

slot[name="slot1"] ~ .siblingB {
  color: orange;
}

slot[name="slot2"] + .siblingC {
  color: blue;
}
