body {
  background-color: rgba(0, 0, 0, 0.796);
}

.posts {
  border: 2px solid #01b4e4;
  border-radius: 0.75rem;
  margin: 2rem;
  padding: 2rem;
  background-color: #0b3957;
  color: #90cea1;
}
.posts h2 span,
.posts h6 {
  font-size: x-small;
  color: white;
}
div span {
  margin-right: 1rem;
}
