@font-face {
  font-family: "Akaya Telivigala";
  src: url("../fonts/Akaya_Telivigala/AkayaTelivigala-Regular.ttf");
}
:root {
}
h1 {
  font-family: "Akaya Telivigala";
}
.moon {
  background-color: lightsteelblue;
  width: 3rem;
  height: 3rem;
  border: black 2px solid;
  border-radius: 0;
}
input {
  border: none;
  outline: none;
  background-color: powderblue;
  border-radius: 5px;
}
input:hover {
  background-color: lightcyan;
}
div {
  width: 3rem;
  height: 3rem;
  /* display: inline-block; */
}
.rectangle {
  background-color: lightblue;
  width: 6rem;
  /* border: black 1px solid; */
  border-radius: 0;
}
.triangle {
  /* background-color: salmon; */
  width: 0;
  height: 0;
  border-left: 0rem dotted transparent;
  border-right: 5rem solid transparent;
  border-bottom: 5rem solid orange;
}
.square {
  background-color: green;
  /* border: black 1px solid; */
  border-radius: 0;
}
.circle {
  background-color: yellow;
  /* border: black 1px solid; */
  border-radius: 50%;
}
.draw {
  background-color: lightcoral;
  width: 3rem;
  height: 3rem;
  display: inline-block;
  transform: rotatez(30deg);
}
.some {
    background-color: grey;
    width: 3rem;
    height: 3rem;
    display: inline-block;
    position: relative;
    top: 3vh;
    box-shadow: 5px 5px 10px grey;
    transform: rotate(20deg);
