@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif, "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  width: 100vw;
  height: 100vh;
}
/* form */
form {
  margin: 25%;
  border: 2px red dashed;
  width: 50%;
  height: 50%;
}
input {
  margin: 2vw auto;
  display: block;
  width: 30%;
  border-radius: 2rem;
  border: none;
  background-color: rgb(182, 212, 203);
  text-align: center;
}
.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hide the ugly checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The switch */
.switch {
  position: relative;
  width: 4rem;
  height: 1.65rem;
  margin-left: 1rem;
  /* border: 2px red dashed; */
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #ccc;
  transition: 0.24s;
  border-radius: 5rem;
}

.slider::before {
  position: absolute;
  content: "";
  left: 0.25rem;
  top: 0.35rem;
  width: 1rem;
  height: 1rem;
  background-color: white;
  border-radius: 100%;
}
input:checked + .slider {
  background-color: lightsteelblue;
}
input:checked + .slider::before {
  transform: translateX(2.5rem);
}
/* fancy checkbox */
