
/* 
things you might want to pay more attention to
  z-index: 99; Not good idea
  images are broken
  no index.html on the root directory
  more DRY css files
  If you are using Mac you need .gitignore for .DB_Store
  add GH pages link to about section for that repo
  SORT files and directories
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* CSS selectors */
  
  /* Element selector */
  html {
    background-color: orange;
  }
  
  /* #ID selector */
  #cool {
    background-color: orangered;
  }
  /* .class selector */
  .box {
    background-color: orchid;
  }
  
  /* element,element Selector
    element AND element 
    */
  table,
  div {
    background-color: paleturquoise;
  }
  
  /* element element Selector
    aka element inside element 
    */
  div p {
    font-size: smaller;
  }
  
  /* element>element	 Selector  
    element parent element 
    */
  
  div > p {
    font-family: "Times New Roman", Times, serif;
    color: purple;
  }
  /* element+element  Selector
    element immediately after element */
  div + span {
    background-color: rosybrown;
  }
  
  /* element1~element2 Selector 
    element preceded element */
  span ~ p {
    background-color: royalblue;
  }
  
  /* [attribute] Selector */
  [id] {
    background-color: seagreen;
  }
  
  /* [attribute=value] Selector  */
  [type="submit"] {
    border: none;
    background-color: pink;
  }
  
  /* [attribute~=value] Selector
    containing the value */
  
  [alt~="sun"] {
    border: 3px solid black;
  }
  /* [attribute^=value] Selector
    begins with the value */
  [class^="te"] {
    /* border: 3px solid hotpink; */
    color: hotpink;
  }
  
  /* [attribute$=value] Selector
    value ends with  */
  
  [class$="box"] {
    /* border: 3px solid hotpink; */
    width: 14rem;
  }
  /* [attribute*=value] Selector
    contains the substring */
  
  [class*="long"] {
    /* border: 3px solid hotpink; */
    height: 3rem;
  }
  
  /* pseudo class  */
  /* :hover */
  table:hover{
      background-color: lightcoral;
  }
  /* a:hover{
      color: yellow;
  } */
  /* :visited */
  a:visited{
      color: green;
  }
  /* a:visited, a:hover{
    color: green;
} */
  /* :focus */
  input[type="text"]:focus{
      outline:none;
      border: 2px solid red;
      box-shadow: 3px 3px 3px #ccc;
  }
  /* a:hover + {
    color: yellow;
} */
  /* :active */
  a:active{
      background-color: blue;
  }
  /* :checked */
  [type="checkbox"]:checked{
      width: 3rem;
  }
  /* :target */
  
  /* :nth-child() */
  /* tr:nth-child(2n){
      background-color: grey;
  }
  tr:nth-child(3n){
    background-color: rgb(235, 121, 121);
} */
tr:nth-last-child(1){
    background-color: forestgreen
}
tr:nth-child(2n) td:nth-child(2){
    background-color: gold;
}
tr:nth-child(2n+1) :first-child{
    background-color: chocolate;
}
tr:nth-child(1) :nth-child(n+3):nth-child(-n +5){
    background-color: crimson;
}
  /* pseudo elements  */
  /* ::after  
    :after css2 and ::after is css3*/
  
  /* ::before  
      :before css2 and ::before is css3*/
  
  /* here we will *